/* src/components/Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: top 0.3s;
}

.navbar.hidden {
  top: -100px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}

.logo-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: 200px;
}

.menu-toggle,
.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 260px;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
  padding: 1rem;
}

.sidebar.open {
  left: 0;
}

.nav-links {
  list-style: none;
  padding: 2rem 0;
}

.nav-links li {
  padding: 0.75rem 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}


.right-icons {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mail-icon {
  text-decoration: none;
  color: #333;
  font-size: 32px;
}